# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terragrunt
.terragrunt-cache/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Secrets
*.env
.env.*
secrets.yaml
secrets.json

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
